.navbar{
    background-color: #d8b5a1;
}
body{
    background-color: #fdf6f0;
    font-family: sans-serif;
    color: #4a3f35;
    transition: 0.3s;
    font-weight: bold;
}
.hero{
    text-align: center;
    padding: 60px 20px;
}
.about{
    text-align: center;
    padding: 40px;
}
.features{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}
.feature-card{
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 150px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark-mode{
    background-color: #2f2a26;
    color: #f5eee8;
}
.dark-mode .feature-card{
    background-color: #3d362f;
}
button{
    border-radius: 10px;
    border-style:outset;
    border-color: #2f2a26;
    border-width: 2px;
}
.footer{
    text-align: center;
    padding: 20px;
    font-size: 14px;
    opacity: 0.7;
}
.icons{
    display: flex;
    gap: 20px;
    justify-content: center;
}
button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.container{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 40px;
    flex-wrap: wrap;
}
img{
    height: 150px;
    width: 75px;
}
